
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

  *{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
   
    font-family: 'Roboto', sans-serif;
  }

  body{
    background:beige;
  }
  .container{
    width:480px;
    height: 78vh;
    margin:0 auto;
    background: white;
    margin-top: 5rem;
    padding:4rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;

    
  }
  .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .date{
     display: flex;
     align-items: center;
  }

  .date p{
    font-weight: 700;
    font-size: 3rem;
    padding-right:.1em
  }
  .date_year{
    display: flex;
    flex-direction: column;
    padding: .1em;
    font-weight: 400;
  }
  .month{
    padding:.1em;
    font-weight: 700;
    font-size: .9em;
  }
  .year{
    font-weight: 700;
    font-size: .9em;
  }

  .day{
    font-size: .9em;
    font-weight: 700;
  }

  .todo{
    font-size: 1.2em;
    font-weight: 400;
    padding:10px 0px;
    display: flex;
    justify-content: space-between;
    
  }
  .icon{
    width: 20px;height:20px;background: white;border-radius: 100%;display:block ;border:solid gray 2px;
    cursor:pointer
  }

  .add{
    width: 100px;height: 100px;border-radius: 100%;background: hsl(120, 73%, 48%);
   display: flex;justify-content: center ; align-items: center;cursor:pointer;
   position:absolute;
    left:50% ;top:100%;transform:translate(-50%,-50% )
    ;z-index:2
  }
  .add img{
    width: 50px;
    height: 50px;
  }

  .input{
    
    width: 90%;
   opacity: 0;
    display: flex;
    position: absolute;
    left:50%;
    top:100%;
    transform: translate(-50%, -50%);
    transition: top 1s;
    
  }
  input{
    outline: none;border:none;padding:5px;width: 80%;;
    padding:10px;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
    border-left:2px solid gray;
  }
  button{
    width:20%;
    padding:10px;
    background-color: hsl(240, 67%, 49%);
    border:none;
    color:white;cursor:pointer;
    border:2px solid hsl(240, 67%, 49%)

  }
  .Show{
  opacity: 1;
  top:90%;

  }